{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.title }}</h1>

<h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS, Y' }}</h5>
<div>
{% for blog in blogs %}

  {% if blog.url %}
<a href="{{ blog.url }}">
  <img src="{{ blog.image.url }}" alt="Machine Learning" style="width:100%">
</a>
  {% else %}

  <img src="{{ blog.image.url }}" alt="Machine Learning" style="width:100%">
  {% endif %}

{% endfor %}
</div>
<p>{{ blog.article|safe }}</p>


{% endblock %}
