{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.title }}</h1>

<h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS, Y' }}</h5>
<div>
{% for blog in blogs %}

  {% if blog.url %}
<a href="{{ blog.url }}">
  <img src="{{ blog.image.url }}" alt="Machine Learning" style="width:100%">
</a>
  {% else %}

  <img src="{{ blog.image.url }}" alt="Machine Learning" style="width:100%">
  {% endif %}

{% endfor %}
</div>
<p>{{ blog.article|safe }}</p>

<footer class="w3-container w3-dark-gray w3-center w3-margin-top">
  <p>Find me on social media:</p>
  <i class="fa fa-github w3-hover-opacity" href="https://github.com/leandromarotti"></i>
  <i class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/leandro.marotti"></i>
  <i class="fa fa-instagram w3-hover-opacity" href=""></i>
  <i class="fa fa-spotify w3-hover-opacity" href="https://open.spotify.com/artist/3BVv3pjlVbSZicwDiE9LmI"></i>
  <i class="fa fa-soundcloud w3-hover-opacity" href="https://soundcloud.com/leandro-marotti-915162893"></i>
  <i class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/LeandroMarotti"></i>
  <i class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/leandro-marotti-99163b22/"></i>
</footer>

{% endblock %}
